h1 {
    text-align: center;
}

body {
    font-family: Helvetica, Arial, sans-serif;
}

button,
select {
    padding: 0.5em 1em;
    margin: 0 1em;
    font-weight: bold;
    font-size: 1.2em;
}

select.projectColour,
select.projectCategory,
select.projectOrder,
select.categoryOrder {
    padding: 0;
    margin: 0 0.5em;
    font-size: 1em;
}

.project-filter {
    border: 1px solid #00000030;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1em;
}

.project-filter div {
    width: 12em;
    margin: 0.5em;

    display: flex;
}

.project-filter input[type='checkbox'] {
    flex-shrink: 0;
    width: 2em;
    height: 2em;
}

.project-filter label {
    margin: 0.5em;
}

.editableString {
    cursor: pointer;
}

.editableString:hover {
    color: #0000CC;
}

.editableString .empty {
    color: #999999;
}

div.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 1em 0;
}

/* Keep button to the left, when they wrap (on small screen) */
div.header .header-buttons-left {
    margin-right: auto;
}
/* Keep button to the right, when they wrap (on small screen) */
div.header .header-buttons-right {
    margin-left: auto;
}

div.pageTitle h1 {
    margin: 0;
    flex-grow: 1;
}
div.pageTitle {
    text-align: center;
    flex-grow: 1;
}
div.pageTitle input {
    max-width: 100%;
    text-align: center;
    font-size: 2em;
}

span.spaceLeft::before {
    content: "Space left: ";
}
span.spaceLeft::after {
    content: " MB";
}

.dashboard {}

.new-category,
.category {
    display: flex;
    flex-wrap: wrap;
    /* To help position the input field, used to edit the category name */
    position: relative;
    margin-top: 1em;
    min-height: 250px;
}

.new-category{
    border-color: #CCCCCC;
    border-style: dashed;
}
.category {
    border-color: #000000;
}

.category-header {
    font-size: 2em;
}
.new-category .category-header {
    color: #999999;
}

/* Make the input appear where the fieldset legend needs to be. */
input.category-header {
    position: absolute;
    top: -1.2em;
}

.dashboard .project,
.dashboard .new-project {
    display: flex;
    flex-direction: column;
    width: 250px;
    background-color: #9999FF;
    /* Use pixels so that it is easier to adjust to match the the active border */
    margin: 12px; 
    padding: 0.5em;
    border: 1px solid #00000030;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #dddddd;
}

.dashboard .project.active {
    /* border-color: #00FF00;*/
    border: 6px solid #faff26;
    /* Shrink the border when active to allow room for the thicker border */
    margin: 6px;
}

.dashboard .project .title {
    text-align: center;
    font-size: 1.5em;
    max-width: 100%;
    margin: 0;
}

.dashboard .project .logs {
    flex-grow: 1;
    background-color: #FFFFFF;
    border: 1px solid #a2a2a2;
    height: 130px;
    overflow: auto;
    margin: 0.5em 0;
    padding: 2px 5px;
}
.dashboard .project .logs div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.dashboard .project .logs .time {
    font-weight: bold;
}
.dashboard .project .logs .date {
    text-align: center;
    font-weight: bold;
}
.dashboard .project .logs .date:before,
.dashboard .project .logs .date:after {
    content: ' - ';
}

.dashboard .project .logs input {
    max-width: 100px;
}

.dashboard .project .buttons {
    text-align: center;
}

.dashboard .new-project {
    min-height: 220px;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border-style: dashed;
    box-shadow: none;
}

.overlay {
    display: none;
    opacity: 0.5;
    background-color: #000000;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

.pause-page,
.admin-wrapper {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1001;
}

.pause-page {
    text-align: center;
}
.pause-page .buttons {
    margin-top: 40vh;
}
/* Make the resume button really BIG */
.pause-page .buttons .resume {
    padding: 1em 2em;
    font-size: 3em;
}

.decimal-time {
    color: #009900;
    margin-left: 1em;
}
.decimal-time::before {
    content: "(";
}
.decimal-time::after {
    content: " h)";
}

.admin {
    background-color: #FFFFFF;
    /* Firefox do not understand padding bottom very well. Make it 0 and add padding to the buttons div */
    padding: 1em 1em 0 1em;
    border: 5px solid black;
    border-radius: 25px;
    box-shadow: 5px 5px 5px #000000;
    margin: 1em;
    overflow: auto;
    max-height: 100%;
    width: 100%;
}

.admin .filters {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.admin .filters div {
    margin: 0.1em 0.5em;
}
.admin .filters div select {
    margin: 0;
}
.admin .filters input {
    width: 6em;
}

/* Add a little bit of padding do the span remain clickable even when empty */
.admin span.filterDateFrom,
.admin span.filterDateTo,
.admin span.filterSearch {
    display: inline-block;
    min-width: 5em;
    min-height: 1em;
    vertical-align: middle;
    border: 1px solid #CCCCCC;
    padding: 0.2em;
}

.admin .time-ribbon {
    overflow: auto;
}
.admin .time-ribbon table {
    /* Make the time ribbon large enough to read the numbers on small device,
       even when there is tasks with time [00:00 - 23:59]. */
    min-width: 90em;
}

.admin .viewSelector {
    margin: 1em 0;
}
.admin .viewSelector h2 {
    display: inline;
}

.admin .project-editor-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.admin .project-editor-header .timeNormalisation {
    margin: 1em 0;
}
.admin .project-editor-header .timeNormalisation h3 {
    display: inline;
}
.admin .project-editor-header .timeNormalisation input {
    width: 3em;
}

.admin .project-editor {
    min-width: 40em;
    overflow: auto;
}

.admin .project-editor table {
    width: 100%;
    border-collapse: collapse;
}

.admin .project-editor table tr.not-selected {
    color: #999999;
}

.admin .project-editor table tr td.overlaps {
    color: #FF0000;
}

.admin .project-editor table.dates-table td.name,
.admin .project-editor table.projects-table td.name {
    font-weight: bold;
}

.admin .project-editor table.dates-table,
.admin .project-editor table.dates-table td,
.admin .project-editor table.dates-table th,
.admin .project-editor table.projects-table,
.admin .project-editor table.projects-table td,
.admin .project-editor table.projects-table th {
    border: 3px solid #999999;
    padding: 10px;
}

.admin .project-editor table.dates-table .weekday {
    width: 10%;
}

.admin .project-editor table.logs-table {
    background-color: #FFFFFF;
}

.admin .project-editor table.logs-table,
.admin .project-editor table.logs-table td,
.admin .project-editor table.logs-table th {
    border: 2px solid #CCCCCC;
    padding: 3px 5px;
}

.admin .project-editor table.logs-table td,
.admin .project-editor table.logs-table th {
    width: 16%;
}

.admin .project-editor table.category-logs-table td,
.admin .project-editor table.category-logs-table th {
    width: 14%;
}

.admin .project-editor table.logs-table tr.header,
.admin .project-editor table.logs-table tr.total {
    background-color: #EEEEEE;
}

.admin .project-editor table.logs-table tr.total th,
.admin .project-editor table.logs-table tr.total td {
    font-weight: bold;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
}

/*
 * Hide the key column.
 * This column can be useful for debugging, but it's useless for most users.
 * If needed, it can be activated using the developer tool in the browser.
 */
.admin .dates-table .key,
.admin .projects-table .key {
    display: none;
}

.admin .dates-table button,
.admin .projects-table button {
    padding: 0 0.2em;
    margin: 0;
    font-weight: normal;
    font-size: 1em;
}
.admin .dates-table button.delete,
.admin .projects-table button.delete {
    background-color: #FF0000;
}

.admin .dates-table .delete-column,
.admin .projects-table .delete-column {
    width: 36px;
    text-align: center;
}

.admin .header-buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
}

/* Keep the close button visible when scrolling down */
.admin .header-buttons .right {
    min-width: 90px;
}
.admin .header-buttons .right .close {
    position: fixed;
    top: 2em;
    right: 1.5em;
}

.admin .footer-buttons {
    margin-top: 1em;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    /* For firefox (see comment in .admin above) */
    padding-bottom: 1em;
}
.admin .footer-buttons .right {
    text-align: right;
}
.admin .footer-buttons .right button {
    margin-top: 0.5em;
}

.admin button.reset {
    background-color: #FF0000;
}

.today-time-ribbon {
    border: 3px solid #000000;
}

.time-ribbon .row {
    display: flex;
    min-height: 30px;
}
.time-ribbon .row .log {
    width: 0;
}
.time-ribbon .row .log .message {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 6px 10px;
}
.time-ribbon .row .log .message .project-name {
    font-weight: bold;
}

.time-ribbon table {
    width: 100%;
}

.time-ribbon table td.ribbonCell,
.time-ribbon table td.scaleCell {
    width: 100%;
}

.time-ribbon table td.rowHeader {
    white-space: nowrap;
}

.time-ribbon table td.scaleCell {
    text-align: center;
}

/* Time display bellow the ribbon (in admin) are hidden when not enough space
   instead of showing ellipsis.
   NOTE: This won't happen because of the min-width, but without the "clip",
         the ellipsis shows up when the ribbon is very large. */
.time-ribbon table td.scaleCell .log .message {
    text-overflow: clip;
}
