h1 {
    text-align: center;
}

button {
    padding: 0.5em 1em;
    margin: 0 1em;
    font-weight: bold;
    font-size: 1.2em;
}

div.pageTitle {
    text-align: center;
    margin: 0.58em 0;
    font-size: 2em;
}
div.pageTitle input {
    max-width: 100%;
    text-align: center;
    font-size: 1em;
}

.dashboard {
    display: flex;
    flex-wrap: wrap;
}

.dashboard .project,
.dashboard .new-project {
    width: 250px;
    min-height: 300px;
    background-color: #9999FF;
    margin: 1em;
    padding: 1em;
    border: 5px solid black;
    border-radius: 25px;
    box-shadow: 5px 5px 5px #999999;
}

.dashboard .project.active {
    border-color: #00FF00;
}

.dashboard .project .title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    font-size: 2em;
    max-width: 100%;
    margin: 0;
}

.dashboard .project .logs {
    background-color: #FFFFFF;
    border: 3px solid black;
    height: 180px;
    overflow: auto;
    margin: 1em 0;
    padding: 2px 5px;
}
.dashboard .project .logs div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.dashboard .project .logs .time {
    font-weight: bold;
}
.dashboard .project .logs .date {
    text-align: center;
    font-weight: bold;
}
.dashboard .project .logs .date:before,
.dashboard .project .logs .date:after {
    content: ' - ';
}

.dashboard .project .logs input {
    max-width: 100px;
}

.dashboard .project .buttons,
.dashboard .new-project .buttons {
    text-align: center;
}

.dashboard .new-project {
    background-color: transparent;
    border-style: dashed;
    box-shadow: none;
}

.dashboard .new-project .buttons {
    margin-top: 50%;
}

.overlay {
    display: none;
    opacity: 0.5;
    background-color: #000000;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

.admin-wrapper {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1001;
}

.admin {
    background-color: #FFFFFF;
    padding: 1em;
    border: 5px solid black;
    border-radius: 25px;
    box-shadow: 5px 5px 5px #000000;
    margin: 1em;
    overflow: auto;
    max-height: 100%;
    width: 100%;
}

.admin .project-editor table {
    width: 100%;
    border-collapse: collapse;
}

.admin .project-editor table.projects-table td.name {
    font-weight: bold;
}

.admin .project-editor table.projects-table,
.admin .project-editor table.projects-table td,
.admin .project-editor table.projects-table th {
    border: 3px solid #999999;
    padding: 10px;
}

.admin .project-editor table.logs-table,
.admin .project-editor table.logs-table td,
.admin .project-editor table.logs-table th {
    border: 2px solid #CCCCCC;
    padding: 3px 5px;
}

.admin .project-editor table.logs-table td,
.admin .project-editor table.logs-table th {
    width: 25%;
}

.admin .projects-table button {
    padding: 0 0.2em;
    margin: 0;
    font-weight: normal;
    font-size: 1em;
}
.admin .projects-table button.delete {
    background-color: #FF0000;
}

.admin .projects-table .delete-column {
    width: 36px;
    text-align: center;
}

.admin .header-buttons {
    margin-bottom: 1em;
    text-align: right;
}

.admin .footer-buttons {
    margin-top: 1em;
    display: flex;
    justify-content: space-between;
}
.admin button.reset {
    background-color: #FF0000;
}

.today-time-ribbon {
    border: 3px solid #000000;
}

.time-ribbon .row {
    display: flex;
    min-height: 30px;
}
.time-ribbon .row .log {
    width: 0;
}
.time-ribbon .row .log .message {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 6px 10px;
}
.time-ribbon .row .log .message .project-name {
    font-weight: bold;
}

.time-ribbon table {
    width: 100%;
}

.time-ribbon table td.ribbonCell,
.time-ribbon table td.scaleCell {
    width: 100%;
}

.time-ribbon table td.rowHeader {
    white-space: nowrap;
}

.time-ribbon table td.scaleCell {
    text-align: center;
}
